<%= form_for(game) do |f| %>

  <div class="content">

    <div class="errors">
      <ul>
        <% game.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>

    <p>
      <%= f.label :name, class: "label" %>
      <%= f.text_field :name, class: 'input', placeholder: 'Talisman' %>
    </p>

    <p><%= f.file_field :gamepic %></p>

    <p>
      <%= f.label :category, class: 'label' %>
      <%= f.select :category_id, options_from_collection_for_select(Category.all, :id, :name, selected: game.category_id) %>
    </p>

    <p>
      <%= f.label :description, class: "label" %>
      <%= f.text_area :description, class: 'input', placeholder: 'This game was cool because ...' %>
    </p>

    <div>
      <%= f.submit class: "button is-primary", value: "Submit" %>
    </div>

  </div>
<% end %>
